force-app/main/default/flows/Updated_the_Contact_Email_and_Phone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Email</name>
        <label>Assign Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>petshop+flow@salesforce.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Phone_is_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Phone_Value</name>
        <label>Assign Phone Value</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12345678910</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_is_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_Mailing_Address</name>
        <label>Update Contact Mailing Address</label>
        <locationX>270</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingState</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_is_Blank</name>
        <label>Account is Blank?</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Mailing_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account is Not Blank?</defaultConnectorLabel>
        <rules>
            <name>BlankAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Account is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Email_is_Blank</name>
        <label>Check if Email is Blank</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Check_if_Phone_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email is Not Blank?</defaultConnectorLabel>
        <rules>
            <name>Email_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email</targetReference>
            </connector>
            <label>Email is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Phone_is_Null</name>
        <label>Check if Phone is Null?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Account_is_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Phone is Not Blank?</defaultConnectorLabel>
        <rules>
            <name>Phone_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Phone_Value</targetReference>
            </connector>
            <label>Phone is Blank</label>
        </rules>
    </decisions>
    <interviewLabel>Updated the Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Email and Phone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Email_is_Blank</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
